[submodule "dependencies/cosmos-sdk"]
	path = dependencies/cosmos-sdk
	url = https://github.com/MANTRA-Chain/cosmos-sdk.git
[submodule "dependencies/connect"]
	path = dependencies/connect
	url = https://github.com/MANTRA-Chain/connect.git
[submodule "dependencies/mantrachain"]
	path = dependencies/mantrachain
	url = https://github.com/MANTRA-Chain/mantrachain.git
